{
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended",
        "@vue/prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "globals": {
        "Nova": true,
        "_": true
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {}
}
